<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Beach Festival</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='detail.css') }}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script src="{{ url_for('static', filename='detail_comment.js') }}"></script>

    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a76b02a3eab44eca245e0c8fba298673"></script>



</head>
<body class="background">
<div class="header">
    <tr>
        <a href="/">
            <td><h1>Beach Festival</h1></td>
        </a>
        <td>
            <button type="button" class="btn btn-outline-dark">Login</button>
        </td>
        <td>
            <button type="button" class="btn btn-outline-warning">Sign Up</button>
        </td>
    </tr>
</div>
<div class="container">
    <div class="d-flex justify-content-between align-items-end">
        <div>
            <h1 id="word" style="display: inline;">{{ word }} 해수욕장</h1>
        </div>
        <a href="https://www.goodchoice.kr/product/result?keyword={{ word }}" target="_blank">
        <button id="btn-like" class="btn btn-sparta btn-lg">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
            </svg>
        </button>
        </a>
    </div>
    <hr>
    <div class="test">
        <div id="definitions">
            <div class="test2">
                <i>{{ beach_one['시도명'] }}</i>
                <br> 위치 :{{ beach_one['시도명'] }} {{ beach_one['구군명'] }} {{ beach_one['정점명'] }}<br>
                특징 : {{ beach_one['모래'] }}<br>
                <span class="example">관련사이트 : {{ beach_one['관련사이트'] }} </span><br>
                <span class="example">해수욕장 비상연락처 : {{ beach_one['해수욕장 비상연락처'] }} </span><br>
                <span class="example">위도 : {{ beach_one['위도'] }} </span><br>
                <span class="example">경도 : {{ beach_one['경도'] }} </span>
            </div>
        </div>
        <div id="definitions">
            <div class="test2">
                <div id="map" style="width:300px;height:250px;"></div>
                <script>
                    var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
                    var options = { //지도를 생성할 때 필요한 기본 옵션
                        center: new kakao.maps.LatLng({{ beach_one['위도'] }}, {{ beach_one['경도'] }}), //지도의 중심좌표.
                        level: 7 //지도의 레벨(확대, 축소 정도)
                    };

                    var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

                    var markerPosition  = new kakao.maps.LatLng({{ beach_one['위도'] }}, {{ beach_one['경도'] }});
                    var marker = new kakao.maps.Marker({position: markerPosition});
                    marker.setMap(map);
                </script>
            </div>
        </div>
    </div>
</div>

<section class="section">
    <article class="media_comment">
        <figure class="media-left" style="align-self: center">
            <a class="image is-32x32" href="/user/{{ user_info.username }}">
                <img class="is-rounded" src="{{ url_for('static', filename=user_info.profile_pic_real) }}">
            </a>
        </figure>
        <div class="media-content">
            <div class="field">
                <p class="control">
                    <input id="textarea-post" class="input is-rounded" placeholder="무슨 생각을 하고 계신가요?">
                </p>
            </div>
            <div class="posts_buttons">
                <button class="button is-success" onclick="post()">Success</button>
            </div>
        </div>
    </article>
</section>
<br>
<section class="section">
    <div id="post-box" class="container_comment">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <a class="image is-64x64">
                        <img class="is-rounded"
                             src={{ url_for("static", filename="profile_pics/profile_placeholder.png") }} alt="Image">
                    </a>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>홍길동</strong> <small>@username</small> <small>10분 전</small>
                            <br>
                            글을 적는 칸
                        </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <a class="level-item is-sparta" aria-label="heart" onclick="toggle_like('', 'heart')">
                                <span class="icon is-small"><i class="fa fa-heart"
                                                               aria-hidden="true"></i></span>&nbsp;<span
                                    class="like-num">2.7k</span>
                            </a>
                        </div>

                    </nav>
                </div>
            </article>
        </div>

    </div>
</section>
</body>
</html>{##}

