<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Webpage Title -->
    <title>Home | Beach Festival</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <meta property="og:title" content="Beach Festival - 올 여름 우리 바다와 함께"/>
    <meta property="og:description" content="무더운 여름철 한국의 모든 해변을 쉽게 찾고, 먼저 방문한 사람들의 평가도 한 눈에 볼 수 있는 웹사이트입니다."/>
    <meta property="og:image" content="{{ url_for('static', filename='ogimg.png') }}"/>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Font Awesome CSS -->
    <!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
    <script src="https://kit.fontawesome.com/ba20b620b8.js" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link href="{{ url_for('static', filename='reset.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script>

        // scroll event
        $(window).scroll(function(){
            const y = $(document).scrollTop()

            if (y >= 250 ) {
                // 스크롤 이벤트가 발생하면, 로고가 상단으로 고정 되게.... 제일 마지막에

            }
        })

        // 해변 검색 기능 구현 부분
        let rows = {{ rows | tojson }};
        let rows_list = [];
        for (let i = 0; i < rows.length; i++) {
            rows_list.push(rows[i]['정점명'])
        }
        console.log(rows_list)

        function find_beach() {

            let word = $('#input_word').val()
            if (rows_list.includes(word)) {
                // 리스트에 하이라이트

                $(`#word-${word}`).addClass("highlight")
                $(`#word-${word}`).siblings().removeClass("highlight")
                $(`#word-${word}`)[0].scrollIntoView()

                // 선택되서 내려갈때 스크롤 위치값 확인 필요 ㅠㅠ

            } else {
                alert("정확한 해변명을 입력해주세요.")
            }
        }

        {% if msg %}
            alert("{{msg}}")
        {% endif %}

    </script>
</head>
<body>
<div class="backgroundVideo">
        <video autoplay loop muted preload="auto">
            <source src="{{ url_for('static', filename='bg_beach.mp4') }}" type="video/mp4">
        </video>
</div>

<!-- :: 헤드 영역 -->
<header class="wrapHeader">
    <div class="boxRow">
        <!--<h1 class="logo_top">
            <a href="/">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="" />
                <strong>Beach Festival</strong>
            </a>
        </h1>-->
        {% if user %}
            <button type="button" class="btnStyle" data-bs-toggle="modal" data-bs-target="#InfoModal">내 정보 <i class="fa-solid fa-user"></i></button>
        {% else %}
            <button type="button" class="btnStyle" data-bs-toggle="modal" data-bs-target="#LoginModal">로그인 <i class="fa-solid fa-right-to-bracket"></i></button>
        {% endif %}
    </div>
    <div class="boxRow">
        <h1 class="logo_bottom">
            <a href="/">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="" />
                <strong>Beach Festival</strong>
            </a>
        </h1>
    </div>
</header>

<!-- :: 메인 컨텐츠 영역 -->
<section class="contents">

{% if user %}
<!-- :: 내 정보 모달 -->
<div class="modal fade" id="InfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-top">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <nav class="modalContents">
                   <a class="image is-64x64">
                        <img class="is-rounded"
                             src= "{{ url_for('static', filename=user.profile_pic_real) }}" alt="Image">
                    </a>
                    <h5 class="modal-title" id="exampleModalLabel"><strong>{{ user['profile_name'] }}님 <i class="fa fa-heart" aria-hidden="true"></i></strong></h5>
                    <h5 style="font-size: 18px; margin-top: 5px; font-weight: 400;">{{ user.profile_info }}</h5>
                </nav>
                <nav id="btns-me" class="level is-mobile" style="margin-top:2rem">
                    <a class="button level-item has-text-centered is-sparta btnStyle" aria-label="edit"
                       onclick='$("#modal-edit").addClass("is-active"); $("#InfoModal").hide();'>
                        프로필 수정&nbsp;&nbsp;&nbsp;<span class="icon is-small"><i class="fa fa-pencil"
                                                                               aria-hidden="true"></i></span>
                    </a>

                    <a class="button level-item has-text-centered is-sparta is-outlined btnStyle" aria-label="logout"
                       onclick="sign_out()">
                        로그아웃&nbsp;&nbsp;&nbsp;<span class="icon is-small"><i class="fa fa-sign-out"
                                                                             aria-hidden="true"></i></span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- :: 내 정보 수정 모달 부분 -->
<div class="modal" id="modal-edit">
    <div class="modal-background"></div>
    <div class="modal-content modal-content-revise">
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="field">
                        <label class="label" for="input-name">이름</label>

                        <div>
                            <input id="input-name" type="text" class="input inputStyle"
                                   placeholder="홍길동" value="{{ user.profile_name }}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="input-pic">프로필 사진</label>

                        <div class="control is-expanded">
                            <div class="file has-name">
                                <label class="file-label" style="width:100%">
                                    <input id="input-pic" class="file-input inputStyle" type="file"
                                           name="resume">
                                    <span class="file-cta"><span class="file-icon"><i
                                            class="fa fa-upload"></i></span>
                                <span class="file-label">파일 선택</span>
                            </span>
                                    <span id="file-name" class="file-name"
                                          style="width:100%;max-width:100%; background-color: #fff;">{{ user.profile_pic }}</span>
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="textarea-about">나에 대해 한 줄 소개를 해주세요.</label>

                        <div>

                        <textarea id="textarea-about" class="textarea"
                                  placeholder="자기소개하기">{{ user.profile_info }}</textarea>
                        </div>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">

                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <a class="button is-sparta btnStyle" onclick="update_profile()">업데이트</a>
                            </div>
                            <div class="level-item">
                                <a class="button is-sparta is-outlined btnStyle"
                                   onclick='$("#modal-edit").removeClass("is-active")'>취소</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    </div>
    <!-- <button class="modal-close is-large" aria-label="close"
            onclick='$("#modal-edit").removeClass("is-active")'></button> -->
</div>

{% else %}

<!-- :: 로그인 회원가입 모달 부분 -->
<div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><img class="imgLogoModal" src="{{ url_for('static', filename='logo.png') }}" alt="" /><br /><span>올 여름 우리 바다에서~!</span><br />Beach Festival</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="box" style="max-width: 480px;margin:auto">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <div class="field has-addons">
                            <div class="control has-icons-left" style="width:100%">
                                <input id="input-username" class="input inputStyle" type="text" placeholder="아이디">
                                <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                            </div>
                            <div id="btn-check-dup" class="control is-hidden">
                                <button id="btnCheckdup" class="button is-sparta btnStyle" onclick="check_dup()">중복확인</button>
                            </div>

                        </div>
                        <p id="help-id" class="help is-hidden">아이디는 2-10자의 영문과 숫자와 일부 특수문자(._-)만 입력 가능합니다.</p>
                        <p id="help-id-login" class="help is-danger"></p>

                        <div class="field">
                            <div class="control has-icons-left">
                                <input id="input-password" class="input inputStyle" type="password" placeholder="비밀번호">
                                <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                            </div>
                            <p id="help-password" class="help is-hidden">영문과 숫자 조합의 8-20자의 비밀번호를 설정해주세요. 특수문자(!@#$%^&*)도 사용
                                가능합니다.</p>
                        </div>


                    </div>
                    <div id="div-sign-in-or-up" class="has-text-centered">
                        <nav class="level is-mobile">
                            <button class="level-item button is-sparta btnStyle" onclick="sign_in()">
                                로그인
                            </button>

                        </nav>
                        <hr>
                        <p class="mb-3">아직 회원이 아니시라면</p>
                        <nav class="level is-mobile">

                            <button class="level-item button is-sparta is-outlined btnStyle"
                                    onclick="toggle_sign_up()">
                                회원가입하기
                            </button>
                        </nav>
                    </div>

                    <div id="sign-up-box" class="is-hidden">
                        <div class="mb-5">
                            <div class="field">
                                <div class="control has-icons-left" style="width:100%">
                                    <input id="input-password2" class="input inputStyle" type="password"
                                           placeholder="비밀번호 재입력">
                                    <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                                </div>
                                <p id="help-password2" class="help is-hidden">비밀번호를 다시 한 번 입력해주세요.</p>

                            </div>
                        </div>
                        <nav class="level is-mobile">
                            <button class="level-item button is-sparta btnStyle" onclick="sign_up()">
                                회원가입
                            </button>
                            <button class="level-item button is-sparta is-outlined btnStyle" onclick="toggle_sign_up()">
                                취소
                            </button>
                        </nav>
                    </div>


                </div>
            </article>
        </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- :: 검색 기능 부분 -->
<div class="select-options">
    <div class="input-group rounded">
        <input type="search" class="inputSearch form-control rounded" id="input_word" placeholder="해수욕장 이름을 입력해주세요."
               aria-label="Search"
               aria-describedby="search-addon"/>
        <button type="button" class="btn btnStyle" onclick="find_beach()">검색 &nbsp;<i class="fa fa-search"></i></button>
    </div>
</div>

<!-- :: 해수욕장 리스트 부분 -->
{% if datas|length > 0 %}
<table class="table" style="background-color: rgba(255, 255, 255, 0.7); ">
    <thead class="thead-light">
    <tr>
        <th scope="col" style="width:30%">해수욕장</th>
        <th scope="col" style="width:40%">지역</th>
        <th scope="col" style="width:30%">예약</th>
    </tr>
    </thead>
    {% for data in datas %}
    <tbody id="tbody-box">
        <tr id="word-{{ data['정점명'] }}">
            <td>
                <a href="/detail/{{ data['정점명'] }}">{{ data['정점명'] }}</a>
            </td>
            <td>
                {{ data['시도명'] }} {{ data['구군명'] }} {{ data['정점명'] }}
            </td>
            <td>
                <a href="https://www.goodchoice.kr/product/result?keyword={{ data['정점명'] }}" target="_blank">
                예약하기
                <span class="icon is-small"><i class="fa fa-heart" aria-hidden="true"></i></span>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<!-- :: 페이지 버튼 부분 -->
{#하단 페이지네이션#}
<ul class="boxPaging">
{% if block_start - 1 > 0 %}
    <li class="paging pagingPrev"><a href="{{url_for('home', page=block_start - 1)}}"><i class="fa-solid fa-angle-left"></i></a></li>
{% endif %}

{% for i in range(block_start, block_end + 1) %}
    {% if i > last_page_num %}

    {% else %}
        {% if i == page %}
             <li class="paging pagingFocus"><b>{{ i }}</b></li>
        {% else %}
             <li class="paging"><a href="{{ url_for('home', page=i) }}">{{ i }}</a></li>
        {% endif %}
    {% endif %}
{% endfor %}

{% if block_end < last_page_num %}
    <li class="paging pagingPrev"><a href="{{ url_for('home', page=block_end + 1) }}"><i class="fa-solid fa-angle-right"></i></a></li>
{% endif %}

{% else %}
<h3>데이터가 존재하지 않습니다.</h3>
{% endif %}
</ul>
{# 여기까지 하단 페이지네이션#}

</section>

<!-- :: 푸터 영역 -->
<footer class="footer">
  <div>
    <p>
      항해99 8기 A반 10조 웹개발 미니 프로젝트<br/>
        <strong>Beach Festival</strong><br /> by <br /><br />
        Team Leader & Back-end <strong>박상욱</strong><br />
        Back-end <strong>정원용</strong> <br />
        Front-end <strong>강도욱</strong> <br />
        Front-end <strong>나유진</strong>
    </p>
  </div>
</footer>
</body>
</html>